*
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}
header
{
    width: 1220px;
    height: 100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    position: sticky;
}
.headLinks
{
    display: flex;
    gap: 40px;
    font-size: 18px;
    font-weight: 500;
}
.btnHead
{
    width: 150px;
    height: 55px;
    background-color: #07AF91;
    color: white;
    font-size: 18px;
    font-weight: 500;
    border-radius: 10px;
    border: none;
}
.phoneLink
{
    display: none;
}
.sec1
{
    background-image: url(./Images/uae-4-2048x1367\ 2.png);
    width: 100%;
    height: 720px;
    margin-top: -100px;
}
.divS1
{
    width: 100%;
    height: 720px;
    background-color: #00000096;
    display: flex;
    align-items: center;
    color: white;
}
.divTS1
{
    width: 1220px;
    height: 351px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.BTN
{
    width: 220px;
    height: 80px;
    border: none;
    border-radius: 10px;
    background-image: linear-gradient(to right, #61B5E4, #016CA8);
    color: white;
    font-size: 20px;
    font-weight: 600;
}
.h1TS1
{
    width: 750px;
    font-size: 43px; 
    font-weight: 700; 
    display: flex; 
    flex-direction: column;
    gap: 10px; 
}
.pTS1
{
    font-size: 34px;
}
.sec2
{
    width: 1220px;
    height: 1070px;
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.h1S2
{
    font-size: 36px;
    font-weight: 700;
    color: #1178B2;
}
.dicServiseS2
{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-between;
}
.textSS2
{
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.pSS2
{
    font-size: 24px;
    font-weight: 700;
    color: #1178B2;
}
.pSS2_1
{
    font-size: 20px;
    font-weight: 300;
}
.btnSS2
{
    width: 326px;
    height: 70px;
    background-color: #07AF91;
    color: white;
    font-size: 18px;
    font-weight: 500;
    border-radius: 10px;
    border: none;
}
.sec2_1
{
    display: none;
}
.sec3
{
    width: 1220px;
    height: 463px;
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.divS3Boxes
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.boxS3
{
    width: 312px;
    height: 268px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 40px;
    justify-content: center;
    gap: 20px;
    align-items: center;
    box-shadow: 0px 0px 30px #00000017;
    text-align: center;
}
.boxS31
{
    font-size: 80px;
    font-weight: 800;
    color: #1178B280;
}
.sec4
{
    width: 100%;
    height: 604px;
    margin-top: 70px;
    background-image: url(./Images/startup\ 3.png);
}
.divS4
{
    width: 100%;
    height: 604px;
    background-color: #00000096;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: 700;
    color: white;

}
.textS4
{
    width: 1220px;
    text-align: center;
    color: white;
}
.pS4
{
    font-size: 24px;
}
#BTN1
{
    display: none;
}
.sec5
{
    width: 1220px;
    height: 661px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.divS5
{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    border-radius: 5px;
}
.divS51
{
    width: 25%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #88BBD8;
    color: white;
}
.divS52
{
    width: 25%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border-left: 1px solid #CFDDEB;
    background-color: #EEF1F4;
}
.sec5_1
{
    display: none;
}
.sec6
{
    width: 1220px;
    height: 1154px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.pS6
{
    font-size: 20px;
}
.imgS6_1
{
    display: none;
}
.sec7
{
    width: 1220px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}
.divSec7
{
    width: 100%;
    height: 360px;
    border-radius: 10px;
    box-shadow: 0px 0px 30px #00000017;
}
.Mod1S7
{
    max-width: 100%;
    height: 46px;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Mod2S7
{
    max-width: 100%;
    height: 30px;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #E9E9E9;
}
.divSec71
{
    width: 100%;
    height: 86px;
    border-radius: 10px;
    box-shadow: 0px 0px 30px #00000017;
}
.sec7_1
{
    display: none;
}
.sec8
{
    background-image: url(./Images/Group\ 796.png);
    width: 100%;
    height: 500px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.divS8
{
    width: 1220px;
    height: 378px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.textS8
{
    width: 556px;
    height: 323px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sec8_1
{
    display: none;
}
.sec9
{
    width: 1220px;
    height: 680px;
    margin: auto;
    margin-top: 100px;
    gap: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.divS9Boxes
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 20px;
}
.boxS9
{
    width: 312px;
    height: 268px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 40px;
    justify-content: center;
    gap: 20px;
    align-items: center;
    box-shadow: 0px 0px 30px #00000017;
    text-align: center;
}
.sec10
{
    width: 1220px;
    height: 913px;
    margin: auto;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.divS10
{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.s10Box
{
    width: 332px;
    height: 738px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 0px 30px #00000017;
}
.s10Analiz
{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding-bottom: 20px;
    text-align: center;
}
.s10Enter
{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: start;
    padding-bottom: 20px;
    text-align: center;
}
.sec11
{
    width: 1220px;
    height: 599px;
    margin: auto;
    margin-top: 100px;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;
}
.textS11
{
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.divS11
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.imgS11
{
    width: 50%;
}
.sec12
{
    width: 1220px;
    height: 402px;
    margin: auto;
    margin-top: 100px;
    border-radius: 10px;
    box-shadow: 0px 0px 30px #00000017;
    display: flex;
    gap: 70px;
    align-items: center;
    justify-content: center;
}
.img12
{
    width: 378px;
    height: 402px;
}
.textS12
{
    width: 608px;
    height: 215px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sec13
{
    width: 1220px;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.sec13_1
{
    display: none;
}
.sec14
{
    width: 1220px;
    height: 431px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}
.divS14
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.s12Profile
{
    width: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
}
.imgS14_1
{
    display: none;
}
.link14_1
{
    display: none;
}
.sec15
{
    width: 1220px;
    height: 431px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}
.imgS15_1
{
    display: none;
}
.sec16
{
    width: 100%;
    height: 563px;
    margin-top: 70px;
    background-image: url(./Images/Rectangle\ 1992.png);
}
.divS16
{
    width: 100%;
    height: 563px;
    background-color: #00000096;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: 700;
    color: white;

}
.textS16
{
    width: 1220px;
    text-align: center;
    color: white;

}
.pS16
{
    font-size: 20px;
    width: 761px;
    text-align: center;
}






@media (max-width:510px) {
    header
    {
        width: 90%;
    }
    .headLinks
    {
        display: none;
    }
    .phoneLink
    {
        display: block;
    }
    .pHead
    {
        font-size: 16px;
    }
    .btnHead
    {
        width: 88px;
        height: 40px;
        font-size: 14px;
    }
    .h1TS1
    {
        text-align: center;
        font-size: 24px;
        width: 90%;
        margin: auto; 
        gap: 20px;
    }
    .divTS1
    {
        width: 90%;
        margin: auto;
        align-items: center;
    }
    .pTS1
    {
        font-size: 16px;
        text-align: center;
        margin-bottom: 40px;
    }
    .BTN
    {
        width: 235px;
        height: 55px;
        font-size: 16px;
    }
    .sec2
    {
        display: none;
    }
    .sec2_1
    {
        width: 320px;
        height: 1325px;
        margin: auto;
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .divS2_1
    {
        display: flex;
        flex-direction: column;
        gap: 40px;
        align-items: center;
    }
    .textSS2
    {
        width: 100%;
        text-align: center;
        gap: 30px;
    }
    .sec3
    {
        width: 320px;
        height: 920px;
        margin: auto;
        margin-top: 100px;
    }
    .boxS3
    {
        width: 280px;
        height: 230px;
        padding: 20px;
    }
    .divS3Boxes
    {
        width: 320px;
        gap: 15px;
    }
    .h1S2
    {
        text-align: center;
    }
    .sec4
    {
        margin-top: 200px;
    }
    .textS4
    {
        width: 90%;
        font-size: 24px;
    }
    .pS4
    {
        font-size: 14px;
        width: 70%;
        text-align: center;
    }
    #BTN1
    {
        width: 277px;
        height: 55px;
        display: block;
        font-size: 16px;
    }
    #BTN2
    {
        display: none;
    }
    .sec5
    {
        display: none;
    }
    .sec5_1
    {
        margin: auto;
        margin-top: 100px;
    }
    .sec6
    {
        width: 90%;
        align-items: center;
        gap: 20px;
        text-align: center;
    }
    .h1S2
    {
        font-size: 24px;
    }
    .pS6
    {
        font-size: 14px;
    }
    .imgS6
    {
        display: none;
    }
    .imgS6_1
    {
        display: block;
    }
    .sec7
    {
        display: none;
    }
    .sec7_1
    {
        width: 90%;
        margin: auto;
        margin-top: 100px;
        text-align: center;
        display: flex;
        flex-direction: column;
        row-gap: 30px;
    }
    .divSec7
    {
        width: 100%;
        height: 321px;
    }
    .Mod1S7
    {
        width: 80%;
        height: 53px;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }
    .Mod2S7
    {
        width: 80%;
        height: 17px;
        font-size: 12px;
    }
    .divSec71
    {
        width: 100%;
        height: 93px;
    }
    .sec8
    {
        display: none;
    }
    .sec8_1
    {
        background-image: url(./Images/Group\ 796\ \(1\).png);
        width: 100%;
        height: 750px;
        margin: auto;
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 30px;
    }
    .textS8
    {
        width: 90%;
        text-align: center;
        align-items: center;
    }
    .sec9
    {
        width: 320px;
        margin: auto;
        margin-top: 100px;
    }
    .boxS9
    {
        width: 280px;
        height: 230px;
        padding: 20px;
    }
    .divS9Boxes
    {
        width: 320px;
        gap: 15px;
    }
    .sec10
    {
        width: 90%;
        margin-top: 1200px;
    }
    .divS10
    {
        width: 100%;
        flex-wrap: wrap;
        row-gap: 30px;
        align-items: center;
        justify-content: center;
    }
    .sec11
    {
        width: 90%;
        margin-top: 1700px;
    }
    .imgS11
    {
        width: 90%;
    }
    .divS11
    {
        display: flex;
        flex-direction: column;
        row-gap: 30px;
    }
    .textS11
    {
        width: 90%;
        text-align: center;
    }
    .sec12
    {
        width: 90%;
        flex-direction: column;
        height: 750px;
        margin-top: 200px;
        justify-content: center;
        padding-bottom: 0px;
    }
    .textS12
    {
        width: 90%;
        gap: 30px;
    }
    .img12
    {
        width: 236px;
        height: 263px;
        order: 1;
        margin-top: 50px;
    }
    .TS12
    {
        align-items: end;
    }
    .sec13
    {
        display: none;
    }
    .sec13_1
    {
        display: block;
        margin-top: 50px;
    }
    .divS14
    {
        display: none;
    }
    .imgS14_1
    {
        display: block;
        width: 370px;
        height: 290px;
    }
    .sec14
    {
        width: 90%;
        gap: 20px;
    }
    .link14_1
    {
        display: flex;
        margin-left: 130px;
        gap: 50px;
    }
    .sec15
    {
        width: 90%;
        align-items: center;
    }
    .imgS15
    {
        display: none;
    }
    .imgS15_1
    {
        display: flex;
        width: 100%;
    }
        .sec16
    {
        margin-top: 70px;
    }
    .textS16
    {
        width: 90%;
        font-size: 24px;
    }
    .pS16
    {
        font-size: 14px;
        width: 70%;
        text-align: center;
    }

}